@media print {
  @page {
    size: 8.26in 11.69in;
    margin: 0.5cm;
  }

  .nav,
  .team,
  .contact,
  #map,
  .footer,
  .copyrights,
  .agent .right,
  .agent-avatar,
  .thumbnails,
  .main .heading:after {
    display: none;
  }
  .main .container,
  .header .container {
    padding: 0;
  }
  .header {
    margin-bottom: 20px;
  }
  .main .agent {
    display: block;
    margin-top: 25px;
    margin-bottom: 10px;
    text-align: left;
    width: auto;
    max-width: none;
    border: none;
  }
  .agent .top {
    padding-bottom: 0;
  }
  .agent .bottom {
    padding: 0;
  }
  .agent .left {
    margin-bottom: 0;
  }
  .agent-position {
    margin-bottom: 5px;
  }
}
